*{margin:0}.title{margin-top:20px;font-size:40px;font-weight:500;text-align:center}#nav-bar{position:absolute;top:0;z-index:800;background-color:transparent}.navbar-brand img{height:40px;padding-left:30px}.navbar-nav li a{float:right;text-align:left}#nav-bar ul li a:hover{color:#3c7bb9!important}.bg-navbar{background-color:#000}.navbar-toggler{border:none!important;color:#fff}.nav-link{color:#fff!important;font-weight:600px;font-size:20px}li{display:inline-block;padding:4px}.skills{background-color:#000000f7;color:#fff;height:580px;clip-path:polygon(0 25%,100% 0,100% 80%,0 100%);padding:40px}#contact-me{height:300px;color:#fff;background-color:#000000f7;clip-path:polygon(0 20%,100% 0,100% 100%,0 100%)}.logo{padding:3px;height:40px;width:40px}.logo:hover{background-color:#fff}.skills>.title{margin-top:70px}.skill{margin-top:12px;padding-top:10px;padding-bottom:10px}.progress{border-radius:0}.vl{border-left:4px solid;border-color:linear-gradient(112.1deg,#202639 11.4%,#3f4c77 70.2%);height:200px}.content-1{font-family:Esteban,Georgia,'Times New Roman',serif;font-size:18px;font-style:normal;font-weight:400;letter-spacing:normal;line-height:35.0999984741211px;text-transform:none;color:#2a292b}.home{clip-path:polygon(0 0,100% 0,100% 80%,0 100%)}#about{padding-top:50px;padding-bottom:50px;color:#555}.about-content{padding-top:20px}.row{width:100%}.skill-bar p{margin-bottom:6px;font-weight:600}.icon{font-size:40px;margin:20px auto;padding:20px;height:100px;width:100px;border:1px solid #fff;border-radius:50%}h1{text-align:center;color:#555!important;padding-bottom:10px}h1::after{content:'';background:#007bff;display:block;height:3px;width:170px;margin:20px auto 50px}#particles-js{width:100%;height:100%;z-index:20;left:0;position:inherit}.img-border{border: 4px solid black;display: inline-block;vertical-align: top; margin-top:-70px;}.img-border img {position: relative; z-index: -1;left: 15px;top: 15px;}

@media (min-width: 400px) {
  .title {padding-top:70px;}
  .skills {height:auto; width:auto; padding-bottom: 90px;clip-path: polygon(0 15%, 100% 0, 100% 90%, 0% 100%);}
  .terminal {margin-left:-50px;margin-top:100px;width:300px;}
  .terminal-text {font-size: 10px}
  .vl{height:0px;}
   /*1rem = 16px*/
}

@media (min-width: 500px) {
  .title {padding-top:70px;}
  .skills {height:auto; width:auto; padding-bottom: 90px;clip-path: polygon(0 15%, 100% 0, 100% 90%, 0% 100%);}
  .terminal {width:300px;}
  .terminal-text {font-size: 12px}
  .vl{height:0px;}
   /*1rem = 16px*/
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .particles-js{width:900px}
  .title {padding-top:70px;}
  .skills {height:auto; width:900px; padding-bottom: 90px;clip-path: polygon(0 15%, 100% 0, 100% 90%, 0% 100%);}
  .terminal {width:380px; margin-left: -100px}
  .terminal-text {font-size: 16px}
  .vl{height:200px;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .title {padding-top:70px;}
  .skills {height:auto; width:auto; padding-bottom: 90px;clip-path: polygon(0 15%, 100% 0, 100% 90%, 0% 100%);}
  .terminal {width:auto;}
  .terminal-text {font-size: 16px}
  .vl{height:0px;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .skills {height:580px;} /*1rem = 16px*/
  .terminal-text {font-size: 16px}
}
