.terminal {
  left:26%;
  width: 100vh;
  height: 300px;
  padding: 10px 10px 10px 10px;
  margin: auto;
  margin-top:10%;
}
.terminal-header{
  width: 100vh;
  height: 300px;
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
}
.terminal-body{
  width: 100vh;
  height: 300px;
  background-color: #151515;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  //opacity: 0.8;
}
.terminal-button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  top: 6px;
  left:6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  position: relative;
  display: inline-block;

}
.maximize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}
.minimize {
  left: 15px;
  background-color: #00d742;
  border-color: #049931;
}
.termtitle {
  margin-left: 35%;
  font-size: 14px;
  line-height: 27px;
  font-family: Sans-serif;
}
.terminal-text {
  color:white;
  font-family: Sans-serif;
}
@media (max-width: 600px) {
  .terminal {
    max-height: 60%;
    width: 80%;
  }
  .terminal-body {
    max-height: 60%;
    width: 80%;
  }
  .terminal-header {
    max-height: 60%;
    width: 80%;
  }
}
